a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

menu a.nav-link, menu a.nav-link:hover, menu a.nav-link:visited {color: var(--bs-nav-tabs-link-active-color);}
menu a.nav-link:hover {background-color: #f0f0f0;}

table.sso_user_table {margin: 0 auto;}

img.spsostrov-logo {display: block; margin: 5em auto; max-width: 70%;}
